.mainItems {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    margin: 15px;

}

.buttonArea{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    width: 100%;
}

.btnTrue{
    background-color: cornflowerblue;
    color: gold;
}